body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif !important;
}

.modified-row {
  margin: 0 auto;
  max-width: 70rem;
  width: auto;
}

.black-content {
  padding-left: 1.5rem!important; 
  background-color: #333333; 
  border-color: #000000;  
  border-radius: 7pt;  
  margin-top: 15px;  
  box-shadow: 9px 9px 1px 0 rgba(0,0,0,0.2);
  border-style: solid;
  border-width: 1px;
  display: block;
  font-size: 0.8125rem;
  font-weight: normal;
  margin-bottom: 1.25rem;
  padding: 0.875rem 1.5rem 0.875rem 0.875rem;
  position: relative;
  transition: opacity 300ms ease-out;
}

.white-content {
  padding-left: 1.5rem!important;
  background-color: #FFFFFF;
  border-color: #E7E7E7;
  box-shadow: 9px 7px 22px 0 rgba(0,0,0,0.2);
  margin-top: 15px;
  border-radius: 7pt;  
  margin-top: 15px;  
  box-shadow: 9px 9px 1px 0 rgba(0,0,0,0.2);
  border-style: solid;
  border-width: 1px;
  display: block;
  font-size: 0.8125rem;
  font-weight: normal;
  margin-bottom: 1.25rem;
  padding: 0.875rem 1.5rem 0.875rem 0.875rem;
  position: relative;
  transition: opacity 300ms ease-out;
}

.orange-content {
  padding-left: 1.5rem!important; 
  background-color: #FF944D;
  border-radius: 7pt;  
  margin-top: 15px;  
  box-shadow: 9px 9px 1px 0 rgba(0,0,0,0.2);
  border-style: solid;
  border-width: 1px;
  display: block;
  font-size: 0.8125rem;
  font-weight: normal;
  margin-bottom: 1.25rem;
  padding: 0.875rem 1.5rem 0.875rem 0.875rem;
  position: relative;
  border: 1px #FF751A solid;
  transition: opacity 300ms ease-out;
}

.gray-text-content {
  margin-bottom: 0.25rem!important;
  background-color: #eee;
  border-color: #c7c7c7;
  box-shadow: 4px 4px 1px 0 rgba(0,0,0,0.2);
  border-style: solid;
  border-width: 1px;
  display: block;
  font-size: 0.8125rem;
  font-weight: normal;
  margin-bottom: 1.25rem;
  padding: 0.875rem 1.5rem 0.875rem 0.875rem;
  position: relative;
  transition: opacity 300ms ease-out;
}

.white-text-content {
  background-color: #FFFFFF; 
  border-color: #FFFFFF;
}

.white-text-content-shadow {
  background-color: #FFFFFF; 
  border-color: #FFFFFF;  
  box-shadow: 9px 9px 1px 0 rgba(0,0,0,0.2);
  border-style: solid;
  border-width: 1px;
  display: block;
  font-size: 0.8125rem;
  font-weight: normal;
  margin-bottom: 1.25rem;
  padding: 0.875rem 1.5rem 0.875rem 0.875rem;
  position: relative;
  transition: opacity 300ms ease-out;
}

.mini-titlebar {
  color:#fff; 
  background-color: #666666; 
  border-color: #000;
  border-style: solid;
  border-width: 1px;
  display: block;
  font-size: 0.8125rem;
  font-weight: normal;
  margin-bottom: 1.25rem;
  padding: 0.875rem 1.5rem 0.875rem 0.875rem;
  position: relative;
  transition: opacity 300ms ease-out;
}

.mini-titlebar-black {
  color: #fff;
  border-radius: 3px;
  background-color: #8B8B8B;
  box-shadow: 0 3px 0 0 #717171;
  border-width: 1px;
  display: block;
  font-size: 0.8125rem;
  font-weight: normal;
  margin-bottom: 1.25rem;
  position: relative;
  transition: opacity 300ms ease-out;
}

.image-gray {
  height: 155px;
  max-height: 155px;
  background-color: #C8C8C8;
  border-color: #919191;
  box-shadow: 4px 4px 1px 0 rgba(0,0,0,0.2);
  border-style: solid;
  border-width: 1px;
  display: block;
  font-size: 0.8125rem;
  font-weight: normal;
  margin-bottom: 1.25rem;
  padding: 0.875rem 0.875rem 0.875rem 0.875rem;
  position: relative;
  transition: opacity 300ms ease-out;
}

.black-text {
  color:#000;
}
.white-text {
  color:#fff;
}
.center-text {
  text-align: center;
}

.select-box {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  background-color: #FFFFFF;
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-family: inherit;
  font-size: 0.875rem;
  height: 2.3125rem;
  margin: 0 0 1rem 0;
  padding: 0.5rem;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color 0.15s linear, background 0.15s linear;
  -moz-transition: border-color 0.15s linear, background 0.15s linear;
  -ms-transition: border-color 0.15s linear, background 0.15s linear;
  -o-transition: border-color 0.15s linear, background 0.15s linear;
  transition: border-color 0.15s linear, background 0.15s linear;
}

.pad-right li{
  padding-right: 5px;
}

.ratings1 {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.2) inset;
  border-style: solid;
  border-width: 0;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 1rem 2rem 1.0625rem 2rem;
  font-size: 1rem;
  background-color: #EF7610;
  border-color: #fff;
  color: #FFFFFF;
  transition: background-color 300ms ease-out;
  border-radius: 5px;
  padding: 0.625rem 1.25rem 0.6875rem 1.25rem;
  font-size: 0.6875rem;
}

.ratings0 {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.2) inset;
  border-style: solid;
  border-width: 0;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 1rem 2rem 1.0625rem 2rem;
  font-size: 1rem;
  background-color: #767472;
  border-color: #fff;
  color: #FFFFFF;
  transition: background-color 300ms ease-out;
  border-radius: 5px;
  padding: 0.625rem 1.25rem 0.6875rem 1.25rem;
  font-size: 0.6875rem;
}

.panel-gray-radius {
  background-color: #FFF;
  border-radius: 10px;
}

.table-header-black {
  background-color: #555;
  color: #fff;
  border-top: solid 1px #555;
  border-bottom: solid 1px #777;
  border-left: solid 1px #555;
}

.table-content {
  padding: 20px;
  border: solid 1px #555;
  width: 75%;
}

.table-header-red {
  background-color: #f15544;
  color: #fff;
  border-top: solid 1px #555;
  border-bottom: solid 1px #777;
  border-left: solid 1px #555;
}

.table-content-red {
  padding: 20px;
  border: solid 1px #555;
  width: 75%;
  background-color: rgb(245, 160, 160);
}

.table-header-green {
  background-color: #5cb267;
  color: #fff;
  border-top: solid 1px #555;
  border-bottom: solid 1px #777;
  border-left: solid 1px #555;
}

.table-content-green {
  padding: 20px;
  border: solid 1px #555;
  width: 75%;
  background-color: rgb(163, 205, 168);
}

.table-header-blue {
  background-color: #3588b0;
  color: #fff;
  border-top: solid 1px #555;
  border-bottom: solid 1px #777;
  border-left: solid 1px #555;
}

.table-content-blue {
  padding: 20px;
  border: solid 1px #555;
  width: 75%;
  background-color: rgb(121, 174, 200);
}

.tag {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.2) inset;
  border-style: solid;
  border-width: 0;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 1rem 2rem 1.0625rem 2rem;
  font-size: 1rem;
  background-color: #767472;
  border-color: #fff;
  color: #FFFFFF;
  transition: background-color 300ms ease-out;
  padding: 0.625rem 1.25rem 0.6875rem 1.25rem;
  font-size: 0.6875rem;
}

.p-title {
  background-color: #0c929c;
  color: #fff;
  padding: 5px;
}

.p-content {
  background: #16a9b2;
  color:#fff;
  padding: 5px;
}

.form-content {
  margin-top: 100px; 
  box-shadow: 9px 9px 1px 0 rgba(0,0,0,0.2); 
  background-color: #fff; 
  border-radius: 5pt; 
  border: 1px solid #ccc; 
  padding: 20px;
}

.full-img-size {
  max-height: 100%;
  width: 100%;
}

.td-gray-header {
  background-color: #DADADA;
  padding: 25px;
  color: #6F6F6F;
  border: 1px solid #c7c7c7;
}

.td-gray-even {
  background-color: #F0EAD6;
  padding: 25px;
  color: #6F6F6F;
  border: 1px solid #c7c7c7;
}

.td-gray-odd {
  background-color: #FFF7DF;
  padding: 25px;
  color: #6F6F6F;
  border: 1px solid #c7c7c7;
}